git+git://github.com/ikibalin/cryspy.git@transition-to-version-0.2#egg=cryspy-develop
git+git://github.com/easyDiffraction/easyInterface#egg=easyInterface-develop
dictdiffer
asteval
pyyaml
sphinx-autodoc-typehints
sphinx_rtd_theme
sphinx-gallery